$Font40: 40px;
$Font24: 24px;
$Font18: 18px;
$Font16: 16px;


$TextColor01: #2E2E2E;
$BgColor01: #FAF3E0;
$LinksColor: #ff2d12;

$fontSans: "Open Sans", sans-serif;
$FontPoppins:  "Poppins", sans-serif;